*{
    font-size: 2vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}
.main{
    margin: 0px 0px 147px 0px;
    /* box-shadow: 0 4px 4px 1px #474747; */
}
.b{
    background-image: linear-gradient(to right, #4D32F7 20%, #17c9fc 80%);
}
.logo{
    font-weight: bolder;
    font-size: xx-large;
    color: #d9f3fa;
}
.nav-link, .dropdown-item{
    color: #d9f3fa;
    text-decoration: none;
}
/* nav-icon-5 */
.nav-icon-5 {
    width: 35px;
    height: 30px;
    margin: 10px 10px;
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.nav-icon-5 span {
    background-color: #fff;
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width: 100%;
    height: 4px;
    transition-duration: 500ms
}

.nav-icon-5 span:nth-child(1) {
    top: 0px;
    left: 0px;
}

.nav-icon-5 span:nth-child(2) {
    top: 13px;
    left: 0px;
    opacity: 1;
}

.nav-icon-5 span:nth-child(3) {
    bottom: 0px;
    left: 0px;
}

.nav-icon-5:not(.open):hover span:nth-child(1) {
    transform: rotate(-3deg) scaleY(1.1);
}

.nav-icon-5:not(.open):hover span:nth-child(2) {
    transform: rotate(3deg) scaleY(1.1);
}

.nav-icon-5:not(.open):hover span:nth-child(3) {
    transform: rotate(-4deg) scaleY(1.1);
}

.nav-icon-5.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 13px;
}

.nav-icon-5.open span:nth-child(2) {
    opacity: 0;
}

.nav-icon-5.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 13px;
}
/* .list-group-item:hover{
    background-color: black;
} */
a:hover {
    color: rgb(223, 222, 222);
    text-decoration: none;
}

/* 
.list-group-item:hover i{
    color: black;
} */
.newClass {
    background-image: none;
    background-color: black;
    transition: 0.8s;
    margin-bottom: 20px;
}

.bold {
    font-size: 12vh;
    font-weight: bolder;
}

.fig:hover {
    will-change: transform;
    transform: perspective(300px) rotateX(-0.49deg) rotateY(1.95deg) scale3d(1, 1, 1);
}

/* search bar */
.box {
    position: relative;
}

.search {
    padding: 10px;
    width: 60px;
    height: 60px;
    background: none;
    border: 4px solid #ecebeb;
    border-radius: 30px;
    box-sizing: border-box;
    color: transparent;
    outline: none;
    transition: .5s;
}

.box:hover input,
.search:focus {
    width: 300px;
    border-radius: 30px;
    color: #ecebeb;
}

.box i {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(-50%, -50%);
    font-size: 26px;
    color: #ecebeb;
    transition: .5s;
}
